.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.links ul {
    display: flex;
    gap: 24px;
    padding-right: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 50px;
}

.links li {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color:  #3882f6;
    color: white;
    border-radius: 8px;
    padding: 10px 5px;
    font-size: 20px;
}

.hero {
    background-color: #1f2937;
    border-radius: 8px;
}

h3 {
    color: #f9faf8;
}

.logo h1{
    font-size: 36px;
    font-weight: bolder;
}

.content h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding-top: 30px;
}

.top {
    display: flex;
    gap: 50px;
    padding-bottom: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text h1, h3 {
    display: flex;
}

img {
    border-radius: 8px;
}