.header {
    display: flex;
    justify-content: space-between;
    font-weight: bold
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.links ul {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links li {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color:  #3882f6;
    color: white;
    border-radius: 8px;
}

.hero {
    background-color: #1f2937;
}

h3 {
    color: #f9faf8;
}